
<div class="FAQ-main-container">
  <div class="inner-container">
      <div class="FAQ-items">
      {% for block in section.blocks %}
  
  {% case block.type %}
  
    {% when 'CARE' %}
      <div class="care-block">
        <h1>{{ block.settings.category }}</h1>
        <div class="care-Inner-content">
          <div class="f-content">
        <h4>{{ block.settings.first_faq_heading }}</h4>
        <p>{{ block.settings.first_caption }}</p>
        <p>{{ block.settings.first_desc }}</p>
        <p>{{ block.settings.first2_caption }}</p>
        <p>{{ block.settings.first2_desc }}</p>
      </div>
           <div class="s-content">
        <h4>{{ block.settings.sec_faq_heading }}</h4>
        <p>{{ block.settings.scnd_desc }}</p>
           </div>
           <div class="t-content">
        <h4>{{ block.settings.third_faq_heading }}</h4>
        <p>{{ block.settings.thrd_desc }}</p>
           </div>
           <div class="f-content">
        <h4>{{ block.settings.forth_faq_heading }}</h4>
        <p>{{ block.settings.forth_desc }}</p>
           </div>
           </div>
      </div>

    {% when 'SHIPPING' %}
      <div class="shipping-block">
        <h1>{{ block.settings.shipping_category }}</h1>
<div class="shipping-inner-content">
        <div class="shipping-section">
          <div class="svg">{{ block.settings.svg_code }}</div>
          <h4>{{ block.settings.heading }}</h4>
          <p>{{ block.settings.description }}</p>
        </div>

        <div class="tracking-section">
          <div class="svg">{{ block.settings.svg_code2 }}</div>
          <h4>{{ block.settings.heading2 }}</h4>
          <p>{{ block.settings.description2 }}</p>
        </div>

        <div class="contact-section">
          <div class="svg">{{ block.settings.svg_code3 }}</div>
          <h4>{{ block.settings.heading3 }}</h4>
          <p>{{ block.settings.description3 }}</p>
        </div>
      </div>
  </div>
    {% when 'SOURCING' %}
      <div class="sourcing-block">
        <h1>{{ block.settings.src_category }}</h1>
<div class="src-inner-content">
        <div class="source">
          <img src="{{ block.settings.src_image | img_url: 'medium' }}" alt="Image 1">
          <h4>{{ block.settings.src_heading }}</h4>
          <p>{{ block.settings.src_decript }}</p>
        </div>

        <div class="source">
          <img src="{{ block.settings.src_image2 | img_url: 'medium' }}" alt="Image 2">
          <h4>{{ block.settings.src_heading2 }}</h4>
          <p>{{ block.settings.src_decript2 }}</p>
        </div>

        <div class="source">
          <img src="{{ block.settings.src_image3 | img_url: 'medium' }}" alt="Image 3">
          <h4>{{ block.settings.src_heading3 }}</h4>
          <p>{{ block.settings.src_decript3 }}</p>
        </div>
  </div>
      </div>

  {% endcase %}

{% endfor %}

      </div>
  </div>
</div>


<style>
  .FAQ-main-container {
    width: 100%;
  }

  .inner-container {
      width: 80vw;
    margin: 0 auto;
    padding: 0 50px;
  }
  @media (max-width: 1399px) {
     .inner-container {
      width: 1100px;
     }
  }
   @media (max-width: 989px) {
       .inner-container {
     padding: 0 30px;
       }
   }
  /* Care-FAQ */
  .care-Inner-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  /* Shipping-FAQ */
  .shipping-inner-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
  /* Source-FAQ */
  .src-inner-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
</style>

{% schema %}
  {
    "name": "FAQ from Scratch",
    "settings": [
            {
          "type": "range",
          "id": "padding_lr",
          "label": "Left & Right Padding",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "default": 20
        },
          {
      "type": "range",
      "id": "max_width",
      "label": "Max Width (px)",
      "min": 300,
      "max": 1600,
      "step": 50,
      "unit": "px",
      "default": 1200
    },
        {
            "type": "header",
            "content": "Padding for Mobile"
          },
              {
          "type": "range",
          "id": "padding_left",
          "label": "Padding Left",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "default": 15
        },
      
    ],
    "blocks": [
      {
        "type": "CARE",
        "name": "CARE",
        "settings": [
          {
          "type": "text",
          "id": "category",
          "label": "Category Title"
        },
          {
            "type": "header",
            "content": "First FAQ List"
          },
        {
          "type": "text",
          "id": "first_faq_heading",
          "label": "First list heading"
        },
         {
          "type": "text",
          "id": "first_caption",
          "label": "First Caption"
        },
       {
          "type": "text",
          "id": "first_desc",
          "label": "First Description"
        },
         {
          "type": "text",
          "id": "first2_caption",
          "label": "first Caption"
        },
       {
          "type": "text",
          "id": "first2_desc",
          "label": "first Description"
        },
         {
            "type": "header",
            "content": "Second FAQ List"
          },
            {
          "type": "text",
          "id": "sec_faq_heading",
          "label": "sec list heading"
        },
          {
          "type": "text",
          "id": "scnd_desc",
          "label": "scnd Description"
        },
        
          {
            "type": "header",
            "content": "Third FAQ List"
          },
            {
          "type": "text",
          "id": "third_faq_heading",
          "label": "Third list heading"
        },

           {
          "type": "text",
          "id": "thrd_desc",
          "label": "Third Description"
        },
              
          {
            "type": "header",
            "content": "Forth FAQ List"
          },

            {
          "type": "text",
          "id": "forth_faq_heading",
          "label": "Fourth list heading"
        },

            {
          "type": "text",
          "id": "forth_desc",
          "label": "Fourth Description"
        },
        ]
      },
        {
      "type": "SHIPPING",
      "name": "SHIPPING",
      "settings": [
            {
          "type": "text",
          "id": "shipping_category",
          "label": "Category Title"
        },
          {
            "type": "header",
            "content": "Shipping"
          },
           {
        "type": "textarea",
        "id": "svg_code",
        "label": "Paste SVG Code"
      },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
            "type": "header",
            "content": "Tracking"
          },
               {
        "type": "textarea",
        "id": "svg_code2",
        "label": "Paste 2- SVG Code"
      },
        {
          "type": "text",
          "id": "heading2",
          "label": "Heading2"
        },
        {
          "type": "textarea",
          "id": "description2",
          "label": "Description2"
        },
        
        {
            "type": "header",
            "content": "Get in Touch"
          },
                 {
        "type": "textarea",
        "id": "svg_code3",
        "label": "Paste 3- SVG Code"
      },
        {
          "type": "text",
          "id": "heading3",
          "label": "Heading2"
        },
        {
          "type": "textarea",
          "id": "description3",
          "label": "Description3"
        },
        
      ]
    },
          {
      "type": "SOURCING",
      "name": "SOURCING",
      "settings": [
            {
          "type": "text",
          "id": "src_category",
          "label": "Category Title"
        },
         {
            "type": "header",
            "content": "First Sourc"
          },
        {
          "type": "image_picker",
          "id": "src_image",
          "label": "Image"
        },
         {
          "type": "text",
          "id": "src_heading",
          "label": "src_heading"
        },
          {
          "type": "textarea",
          "id": "src_decript",
          "label": "src_decript"
        },

                {
            "type": "header",
            "content": "scnd Sourc"
          },
        {
          "type": "image_picker",
          "id": "src_image2",
          "label": "Image2"
        },
         {
          "type": "text",
          "id": "src_heading2",
          "label": "src_heading2"
        },
          {
          "type": "textarea",
          "id": "src_decript2",
          "label": "src_decript2"
        },
        
                {
            "type": "header",
            "content": "Third Sourc"
          },
        {
          "type": "image_picker",
          "id": "src_image3",
          "label": "Image3"
        },
         {
          "type": "text",
          "id": "src_heading3",
          "label": "src_heading3"
        },
          {
          "type": "textarea",
          "id": "src_decript3",
          "label": "src_decript3"
        },
      ]
    }
    ],
    "presets": [
      {
        "name": "FAQ from Scratch",
      }
    ]
  }
{% endschema %}