{{ 'shop-look.css' | asset_url | stylesheet_tag }}
{% comment %}
{{ 'shop-look.js' | asset_url | script_tag }}
{% endcomment %}
<div class="shop-main-container"> 
    <div class="img-container">
        {% if section.settings.eimage %}
            <img src="{{ section.settings.eimage | image_url: width: 800 }}" alt="Section Image">
          {% endif %}
    </div>
    <div class="collection-container">
        <p style="text-align: center;">{{section.settings.caption}}</p>
        {% if section.settings.featured_products %}
            <div class="shop-featured-products">
              {% for product in section.settings.featured_products %}
                <div class="shop-product-item">
                  <a href="{{ product.url }}">
                    <img src="{{ product.featured_image | image_url: width: 300 }}" alt="{{ product.title }}"></a>
                <!-- Quick ADD --->
               <form class="ajax-add-to-cart-form">
                    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                    <button type="submit" class="ajax-add-btn" {% unless product.available %}disabled{% endunless %}>
                      {% if product.available %}
                        Add to Cart
                      {% else %}
                       Pre-Order
                      {% endif %}
                    </button>
                  </form>
                    <h3>{{ product.title }}</h3>
                    <p>{{ product.price | money }}</p>
                  
                </div>
              {% endfor %}
            </div>
          {% else %}
            <p>No featured products selected.</p>
          {% endif %}
          
    </div>
</div>

{% schema %}
{
    "name": "Shop Look",
    "settings": [
        {
            "type": "image_picker",
            "id": "eimage",
            "label": "select image"
        },
        {
            "type": "product_list",
            "id": "featured_products",
            "label": "Select Featured Products",
            "info": "Choose products to feature"
            },
            {
                "type": "text",
                "id": "caption",
                "label": "Enter Caption"
            }
        ],
        "presets": [
            {
                "name": "Shop Look"
            }
        ]
}
{% endschema %}