{% if section.settings.enable_header %} 
<div class="top-header">
<div class="top-header-container">
  <div class="header-inner-container">
    <div class="Menu-list"> 
        {%- if section.settings.menu != blank -%}
             <ul class="menu">
              {%- for link in linklists[section.settings.menu].links -%}
                <li class="menu-item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
    </div>
    <div class= "links-utility"> 
            <div class="social-links">
            
                {% if settings.social_tiktok_link != blank %}
                  <a href="{{ settings.social_tiktok_link }}" target="_blank">    {{- 'icon-tiktok.svg' | inline_asset_content -}}</a>
                {% endif %}
                {% if settings.social_instagram_link != blank %}
                  <a href="{{ settings.social_instagram_link }}" target="_blank"> {{- 'icon-instagram.svg' | inline_asset_content -}}</a>
                {% endif %}
                <!-- Add more social links as needed -->
            </div>
        <div class="gift-card">
          {% if section.settings.selected_page != blank %}
                {% assign selected_page = section.settings.selected_page %}
                <a href="{{ selected_page.url }}" class="selected-page-link">
                  {{ selected_page.title }}
                </a>
              {% else %}
                <p>No page selected.</p>
           {% endif %}
        </div>
        <div class="localization">
                {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
                      <localization-form class="small-hide medium-hide" data-prevent-hide>
                        {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
                          <div>
                            <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                            {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
                          </div>
                        {%- endform -%}
                      </localization-form>
                    {% endif %}

                {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
                  <localization-form class="small-hide medium-hide" data-prevent-hide>
                    {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                        {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {%- endif -%}
                </div>
            </div>
          </div>
  <hr>
      </div>
  </div>
  {% endif %}
<style>
  .header-inner-container {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
  }
  .links-utility {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
   .menu {
        display: flex;
        list-style: none;
        gap: 2rem;
        margin: 0px;
        padding: 0px;
  }
  ul  li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  .social-links a svg {
   width: 25px;
    height: 30px;
    padding-top: 9px;
  }
  a.selected-page-link  {
    color: black;
    text-decoration: none;
  }
  hr {
    margin: 0px;
  }
  @media (min-width: 990px) {
    .header-inner-container {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }
  @media (max-width: 989px) {
    .top-header-container {
      display: none;
    }
  }
</style>

{% schema %}
  {
    "name": " Top-Header ",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_header",
        "label": "Enable-Top-header"
      },
        {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
        {
      "type": "page",
      "id": "selected_page",
      "label": "Select a Page"
    },
        {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_country_selector.label",
      "info": "t:sections.header.settings.enable_country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_language_selector.label",
      "info": "t:sections.header.settings.enable_language_selector.info"
    },
    ]
  }
{% endschema %}